# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      # Install JDKs and maven toolchain
    - uses: actions/setup-java@v3
      name: Set up JDK 11
      id: setupJava11
      with:
        distribution: 'zulu' # See 'Supported distributions' for available options
        java-version: '11'
    - name: Set up JDK 8
      id: setupJava8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven
    - uses: cactuslab/maven-toolchains-xml-action@v1
      with:
        toolchains: |
          [
          {"jdkVersion": "8", "jdkHome": "${{steps.setupJava8.outputs.path}}"},
          {"jdkVersion": "11", "jdkHome": "${{steps.setupJava11.outputs.path}}"}
          ]
    - name: Build with Maven
      run: cd java21 && mvn -B package --file pom.xml
    - name: Running stress tests
      run: cd java21/jcstress-tests/target && "${{steps.setupJava11.outputs.path}/bin/java" -jar jcstress.jar -h
